.outter-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  width: 100%;
  max-width: 37.5rem;
  padding: 0.313rem;
  border: 0.125rem solid gold;
  backdrop-filter: blur(10px);
  box-shadow: 0 17px 9px -7px rgba(12, 12, 12, 0.35);
}
outter-border:before,
outter-border:after {
  content: "•";
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  font-size: 0.875rem;
  color: gold;
  border: 0.125rem solid gold;
  line-height: 0.125rem;
  top: 0.313rem;
  text-align: center;
}
outter-border:before {
  left: 0.313rem;
}
outter-border:after {
  right: 0.313rem;
}
.inner-border {
  position: relative;
  border: 0.125rem solid gold;
  padding: 0.75rem;
}
.inner-border:before,
.inner-border:after {
  content: "•";
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  font-size: 0.875rem;
  color: gold;
  border: 0.125rem solid gold;
  line-height: 0.125rem;
  bottom: 0.125rem;
  text-align: center;
}
.inner-border:before {
  left: 0.125rem;
}
.inner-border:after {
  right: 0.125rem;
}

#leader {
  z-index: -10;
}

tbody tr:nth-of-type(1) {
  background-color: gold;
}

tbody tr:nth-of-type(2) {
  background-color: silver;
}

tbody tr:nth-of-type(3) {
  background-color: #cd7f32;
}

/* .leaderboard */
