* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 6.25rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

header h1 {
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black;
}

.splash-container {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  /* background-image: url("../../resources/d320fa9-e2b98242-6204-4442-81c7-100c8f3590e4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.splash-container.active {
  right: 18.75rem;
}

.splash-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  position: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 136, 9, 0.904);
  background-blend-mode: multiply;
  opacity: 70%;
}
.splash-text {
  position: relative;
  z-index: 10;
  display: flex;
  align-self: center;
  width: 100vw;
  flex-flow: column;
}

.splash-text p {
  text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black,
    -1px -1px 0 black;
  font-size: 2rem;
}

.splash-text h2 {
  font-size: 4.5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  /* backdrop-filter: blur(20px); */
  text-align: center;
  text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black,
    -1px -1px 0 black;
}

.splash-text p {
  font-size: 1.1em;
  color: #fff;
  margin: 1.25rem 0;
  font-weight: 400;

  text-align: center;
  /* backdrop-filter: blur(20px); */
  place-self: center;
}

.splash-text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 0.625rem 1.875rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 0.625rem;
  color: #111;
  letter-spacing: 0.125rem;
  transition: 0.2s;
}

.splash-text a:hover {
  letter-spacing: 0.375rem;
}

@media (max-width: 991px) {
  .splash-container,
  .splash-container header {
    padding: 2.5rem;
  }
  .splash-text h2 {
    font-size: 3em;
  }
  .splash-text h3 {
    font-size: 2em;
  }
}

.splash-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.features-container {
  background-color: black;
  padding: 3em;
  margin: 3em;
  opacity: 90%;
  margin-top: 10rem;
}

.features-one {
  display: flex;
  margin: 1rem;
  height: auto;
  justify-content: space-between;
  margin-top: 4rem;
}

.features-two {
  display: flex;
  margin: 1rem;
  height: auto;
  justify-content: space-between;
}
.features-three {
  display: flex;
  margin: 1em;
  height: auto;
  justify-content: space-between;
}
.features-four {
  display: flex;
  margin: 1rem;
  height: auto;
  justify-content: space-between;
}

.features-container h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

#porfolio-link a {
  text-decoration: none;
  font-size: 2em;
  outline: none;
  border: none;
  background: none;
}
#githubLink a {
  text-decoration: none;
  font-size: 2em;
  outline: none;
  border: none;
  background: none;
}
#linkedinLink a {
  text-decoration: none;
  font-size: 2em;
  outline: none;
  border: none;
  background: none;
}

.card-eng {
  display: flex;
  justify-self: center;
  flex-direction: column;
  text-align: -webkit-center;
  width: 32.2rem;
  height: 42.7rem;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  box-shadow: 2px 17px 9px -7px rgb(12 12 12 / 35%);
  margin: 0.1rem;
  opacity: 100%;
  right: 0;
  background-image: url("../../resources/_.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.engineers-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card-eng img {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 1em;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  position: relative;
}

.card-eng h1 {
  margin: 1em;
}

.engineers-container {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.engineer-story {
  backdrop-filter: blur(50px);
  background-color: #fff;
  /* opacity: 60%; */
  height: 10rem;
  border-radius: 10%;
  margin-top: 0.5rem;
}

.engineers-title {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.engineers-title h1 {
  font-size: 4rem;
  color: white;
  font-weight: bolder;
  text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black,
    -1px -1px 0 black;
}
