.bg-poker-table {
    background: url('./pokertable.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -4;
    background-size: cover;
    margin: 0;
}

.flex-column.items-center.justify-center.align-center.justify-items-center.justify-self-center {
    display: flex;
    flex-direction: column;
}